### Compose default env variables ##
COMPOSE_PROJECT_NAME=proxy

## NGINX ##
NGINX_TAG=1.25.3

## DOCKER_GEN ##
DOCKER_GEN_TAG=0.10.7-debian

## ACME COMPANION ##
ACME_COMPANION_TAG=2.2.8

## DEFAULT EMAIL ##
DEFAULT_EMAIL=johndoe@example.com

# IP ADDRESS OF THE EXTERNAL INTERFACE
IPv4=0.0.0.0
IPv6=::0

DOCKER_HTTP_=80
DOCKER_HTTPS=443

# DOCKER LOGGING SETTINGS
NGINX_WEB_LOG_DRIVER=json-file
NGINX_WEB_LOG_MAX_SIZE=4m
NGINX_WEB_LOG_MAX_FILE=10

NGINX_GEN_LOG_DRIVER=json-file
NGINX_GEN_LOG_MAX_SIZE=2m
NGINX_GEN_LOG_MAX_FILE=10

NGINX_LETSENCRYPT_LOG_DRIVER=json-file
NGINX_LETSENCRYPT_LOG_MAX_SIZE=2m
NGINX_LETSENCRYPT_LOG_MAX_FILE=10

# PROXY NETWORK NAME
NETWORK=proxy